* {
  box-sizing: border-box;
}

:root {
  /* Primary  */
  --scissors-gradient: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --paper-gradient: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --rock-gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --lizard-gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  
  /* Neutral */
  --white: #FFF;
  --black: #000;
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --bg-choicemodal: lightgray;
  
  /* Background */
  --bg-body: linear-gradient(hsl(214, 47%, 23%), #141539);
  
}

html {
  font-size: 10px;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: var(--white);
  background: var(--bg-body);
  height:100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header{
  border: 2px solid hsl(217, 16%, 45%); 
  border-radius: 1rem;
  padding: 1rem;
  width: 90%;
  max-width: 76rem;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.titleBlock {
  font-size: 2rem;
  font-weight: bold;
}

.score {
  background-color: var(--white);
  width: 10rem;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score__title {
  color: var(--score-text);
  font-weight: bold;


}

.score__number {
  color: var(--dark-text);
  font-size: 3rem;
  font-weight: 700;
}

.choice{
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: var(--white);
  width: 10rem;
  height: 10rem;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

.choice::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5rem; 
  padding: 1.2rem;  
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.choice--paper::before{
  background: var(--paper-gradient)
}

.choice--scissors::before{
  background: var(--scissors-gradient)
}

.choice--rock::before{
  background: var(--rock-gradient)
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal__content {
  background-color: #fefefe;
  color: var(--header-outline);
  margin: auto;
  padding: 3rem;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.modal__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--dark-text);
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.choice-modal {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: var(--bg-choicemodal);
  width: 10rem;
  height: 10rem;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

.choice-modal::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5rem; 
  padding: 1.2rem;
  background: var(--header-outline);
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}